.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap;  
    margin-top: 10vh;
  
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 15vh;
    text-align: center;
    padding: 40px 40px 40px 40px;
    /*width: 30%;
    height: 300px;*/
    height:100%; width:300px; float:left;
    
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
h1{
  text-align: center;
}
  
  button:hover, a:hover {
    opacity: 0.7;
  }